apiVersion: v2
name: istio
version: 1.11.5-bb.2
appVersion: 1.11.5
description: Configurable Deployment of Istio Custom Resources Wrapped Inside a Helm Chart.
annotations:
  bigbang.dev/applicationVersions: |
    - Istio: 1.11.5
