apiVersion: v2
name: istio
version: 1.13.5-bb.3
appVersion: 1.13.5
description: Configurable Deployment of Istio Custom Resources Wrapped Inside a Helm Chart.
annotations:
  bigbang.dev/applicationVersions: |
    - Istio: 1.13.5
    - Tetrate Istio Distro: 1.13.5
