apiVersion: v2
name: istio
version: 1.15.4-bb.0
appVersion: 1.15.4
description: Configurable Deployment of Istio Custom Resources Wrapped Inside a Helm Chart.
annotations:
  bigbang.dev/applicationVersions: |
    - Istio: 1.15.4
    - Tetrate Istio Distro: 1.15.1
  helm.sh/images: |
    - name: pilot
      image: registry1.dso.mil/ironbank/opensource/istio/pilot:1.15.3
    - name: proxyv2
      image: registry1.dso.mil/ironbank/opensource/istio/proxyv2:1.15.3
    - name: install-cni
      condition: openshift
      image: registry1.dso.mil/ironbank/opensource/istio/install-cni:1.15.3
    - name: istioctl-fips
      condition: enterprise
      image: registry1.dso.mil/ironbank/tetrate/istio/istioctl:1.15.1-tetratefips-v1
    - name: proxyv2-fips
      condition: enterprise
      image: registry1.dso.mil/ironbank/tetrate/istio/proxyv2:1.15.1-tetratefips-v1
    - name: pilot-fips
      condition: enterprise
      image: registry1.dso.mil/ironbank/tetrate/istio/pilot:1.15.1-tetratefips-v1
    - name: install-cni-fips
      condition: enterprise
      image: registry1.dso.mil/ironbank/tetrate/istio/install-cni:1.15.1-tetratefips-v1
    - name: base
      image: registry1.dso.mil/ironbank/big-bang/base:2.0.0
