{{- if .Values.networkPolicies.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ingress-istio-injected-ns{{- if not (eq .Values.revision "") }}-{{ .Values.revision }}{{- end }}
  namespace: "{{ .Release.Namespace }}"
spec:
  ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            {{- if not (eq .Values.revision "") }}
            istio.io/rev: {{ .Values.revision }}
            {{- else }}
            istio-injection: enabled
            {{- end }}
      ports:
        - port: 15012
          protocol: TCP
  podSelector:
    matchLabels:
      app: istiod
  policyTypes:
    - Ingress
    - Egress
{{- end }}
