apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: main
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      name: http
      protocol: HTTP
      number: 8080
    hosts:
    - "*"
    tls:
      httpsRedirect: true
  - port:
      name: https
      protocol: HTTPS
      number: 8443
    hosts:
      {{- if .Values.hostnames }}
        {{- .Values.hostnames | toYaml | nindent 6 }}
      {{- else }}
        - "*.{{ .Values.domain | default .Values.hostname }}"
      {{- end }}
    tls:
      credentialName: {{ .Values.tls.credentialName }}
      mode: {{ .Values.tls.mode }}
  {{- range .Values.extraServers }}
  - port:
      {{- if eq .port.name "https" }}
      {{- fail "The port name must be unique" }}
      {{- end }}
      name: {{ required "A valid port name is required!" .port.name }}
      protocol: {{ .port.protocol | default "HTTPS" }}
      number: {{ .port.number | default 443 }}
    {{- range .hosts }}
    hosts:
      - {{ tpl . $ | quote }}
    {{- end }}
    tls:
      credentialName: {{ required "A valid credential name is required!" .tls.credentialName }}
      mode: {{ .tls.mode | default "SIMPLE" }}
  {{- end }}